/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Signika', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bar-color: #282828;
    --aside-color-: black;
    --spotify-color: #ADFF2F;
    --back-color: #141922;
    --white-color : white;
    --font-color-light: #7D7F84;
}