@import url("./reset.css");

/*
    GENERAL
*/
#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

p {
    color: var(--font-color-light);
    font-size: small;
}

.general-padding{
    padding: 10px;
}
.general-margin{
    margin: 10px;
}
.general-padding-son > *{
    padding: 10px;
}
.general-margin-son > *{
    margin: 10px;
}

.lateral-margin {
    margin: 0 10px;
}

.fa-xl {
    font-size: 1.9em;
}


/*
    ASIDE
*/
aside {
    width: 200px;
    height: calc(100% - 100px);
    overflow: auto;
    background-color:black;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


aside .aside-top {
    height: calc(100% - 90px);
    overflow: hidden;
}

aside .padding-content {
    padding-left: 15px;
    padding-bottom: 8px;
} 

aside .padding-content-son > * {
    padding-left: 15px;
    padding-bottom: 8px;
} 

aside nav ul li a {
    display: flex;
    align-items: center;
}
aside nav ul li a > *{
    padding-right: 10px;
}

aside p {
    font-size: 15px;
}

aside .margin-box {
    margin-bottom: 30px;
} 

aside .aside-top .margin-box .border-selection:hover {
    border-left: 5px solid var(--spotify-color);
} 

aside .border-selection:hover > * > * {
    color: white;
    font-weight: bold;
}

aside .aside-top > a:first-child {
    height: 60px;
}

aside .aside-top > nav:first-of-type{
    height: 80px;
}

aside .aside-top > div:first-of-type{
    height: calc(100% - 180px);
}

aside .aside-top > div:first-of-type{
    height: calc(100% - 180px);
}

aside .container-playlist {
    height: calc(100% - 30px);
}

aside .container-playlist ul {
    height: calc(100% - 50px);
    flex-grow: 1;
    overflow: auto;
}

aside .aside-top .img-box {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 12px; 
}

.square-container {
    /* width: calc(100% -15px);
    height: 100%; */

    display: flex;
    align-items: center;
}

.square-box {
    background-color: var(--font-color-light);
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square-box > *{
    color: black;   
}

.square-container:hover .square-box{
    background-color: white;
}

.square-container:hover .square-box > *{
    font-size: 1.9rem;
}

.square-container:hover p{
    color: white;
    font-weight: bold;
}


.aside-bottom p:first-of-type {
    border-bottom: 2px solid var(--font-color-light);
}

aside .aside-bottom a .img-box {
    background-color: var(--font-color-light);
    border: 1px solid white;
    border-radius: 50%;
    width: calc(50% - 55px);
}

aside .aside-bottom .profile-container {
    display: flex;
    align-items: center;
}

aside .aside-bottom a .img-box img {
    border-radius: 50%;
}

aside .aside-bottom a:hover p {
    color: white;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**/
.aside-smartphone {
    display: none;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**/

/*
    MAIN
*/
main {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
    background-color: var(--back-color);
}

/* header */
header {
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0,0, 0.5);
    z-index: 1;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .button {
    padding: 10px;
    border: 2px solid white;
    background-color: rgba(0, 0,0, 0.5);
    border-radius: 20px 20px;

    margin-right: 30px;
}

header .button:hover > * {
    font-size: 20px;
    color:floralwhite;
    transition-duration: 0.3s;
}

header .button:link > * {
    transition-duration: 0.3s;
}

/* content */
#content {
    padding: 80px 15px 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#content .nav-content > * > * > * > *{
    font-size: 15px;
}

#content nav {
    margin-top: 10px;
    margin-bottom: 30px;
}

#content nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#content nav ul li {
    margin: 0 10px;
    border-bottom: 4px solid transparent;

}

#content nav ul li:hover {
    border-bottom: 4px solid var(--spotify-color);
}

#content nav ul li:hover a p {
    color: white;
    font-weight: bold;
}

.container-content {
    width: 100%;
}

.container-content >.my-row {
    margin: 20px -10px;
}

.container-content .my-row{
    display: flex;
    flex-wrap: wrap;
}

.container-content .my-row .card{
    margin: 0 10px;
    width: calc((100% / 6) - 40px);
    transition-duration: 0.3s;

}

.container-content .my-row .card .img-box{
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
}

.container-content .my-row .card .img-box img{
    width: 100%;
    border-radius: 5px;
}

.container-content .my-row .card .img-box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.5);
    
    width: 100%;
    height: 100%;
    display: none;
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px black;
    border-radius: 5px;
}

.container-content .my-row .card .img-box:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content .my-row .card > * {
    text-align: center;
    padding-top: 5px;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#content .container-content .artists > * {
    border-radius: 50%;
}

.container-content h2 {
    padding-bottom: 5px;
}


/*
    FOOTER
*/
footer {
    height: 100px;
    width: 100%;

    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--bar-color);
}

.img-song {
    width: 12vh;
}

.img-song > a > *{
    width: 11vh;
    transition-duration: 0.3s;
}

.img-song:hover > a > *{
    width: 12vh;
}

footer .cartel-song a {
    position: relative;
    
}

footer .cartel-song a i:first-child{
    left: 2px;
    bottom:0;
    
}

footer .cartel-song a i:last-child{
    left: -2px;
    bottom:0;

    display: none;
    /* position: absolute; */
    
}

footer .title-song a:hover p {
    text-decoration:underline;
    color: white;
}

#heart {
    color:crimson;
}

footer .cartel-song a:hover i:first-child{
    display: none;
}

footer .cartel-song a:hover i:last-child{
    display: block;
}

footer .top-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

footer .top-bar > div:hover > a {
    font-size: 1.5rem;
}



.my-player-bar .container .my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.my-player-bar .my-row > *:not(:nth-child(2)){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#song > div:nth-child(2) {
    padding-right: 40px;

}

#track {
    width: 50%
}

#track > * {
    display: flex;
    justify-content: center;

}

.bottom-bar {
    width: 100%
}

.bottom-bar div a {
    font-size: 11px;
    font-weight: bold;
}

.gray-bar {
    width: calc((100% / 2) - 10px);
}

.white-bar {
    width: 100%;
    height: 3px;
    background-color: var(--font-color-light);

}

input {
    width: 100%;
    --litters-range:cursor%;
    /* appearance: none; */
    outline: none;
    height: 1px;
    border-radius: 20px ;
    background: linear-gradient( to right, white var(--litters-range), rgba(87, 87, 87, 0.46) var(--litters-range));
    accent-color: white;
}

input:hover::-webkit-slider-thumb {
    outline: 3px solid #bfff31;
    outline-offset: 0.125rem;
    border-radius: 50%;
}


/*
    MEDIA QUERY
*/

/* DESKTOP S*/
@media screen and (max-width: 1100px) {
    .container-content .my-row .card{
        margin: 0 10px;
        width: calc((100% / 4) - 40px);
        transition-duration: 0.3s;
    }

}

/* TABLET */
@media screen and (max-width: 700px) {
    .container-content .my-row .card{
        margin: 0 10px;
        width: calc((100% / 2) - 40px);
        transition-duration: 0.3s;
    }
    
}

/* SMARTPHONE */
@media screen and (max-width: 600px){
    aside {
        width: 60px;
    }

    aside > * {
        display: none;
        
    }

    aside .aside-smartphone {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   

    aside .aside-smartphone > * {
        margin-top: 20px;
    }

    aside .aside-smartphone .aside-spotify-smartphone {
        display: block;
        width:30px;
    }   

    main {
        width: calc(100% - 60px);
        margin-left: 60px;
    }

    header {
        width: calc(100% - 60px);
        margin-left: 60px;  
    }
}












/*
    DEBUG
*
/* #wrapper {
    background-color:coral;
} */

/* aside {
    background-color: navy;
} */


/* main {
    background-color: crimson;
} */

/* header {
    background-color: darkslategray;
} */

/* #content {
    background-color: darkorchid;
} */

/* .container-content{
    background-color: goldenrod;
} */

/* .card{
    background-color: aqua;
} */

/* footer {
    background-color: lightseagreen;
} */

/* .my-player-bar{
    background-color: blue;
} */



