@import url("./reset.css");

/*
    GENERAL
*/
#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

p {
    color: var(--font-color-light);
    font-size: small;
}



/*
    ASIDE
*/
aside {
    width: 200px;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
}


/*
    MAIN
*/
main {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
}

/* header */
header {
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0,0, 0.5);
    z-index: 1;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .button {
    padding: 10px;
    border: 2px solid white;
    background-color: rgba(0, 0,0, 0.5);
    border-radius: 20px 20px;

    margin-right: 30px;
}

/* content */
#content {
    padding: 80px 15px 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#content nav {
    margin-top: 10px;
    margin-bottom: 30px;
}

#content nav ul {
    display: flex;
    justify-content: center;
}

#content nav ul li{
    margin: 0 10px
}

.container-content {
    width: 100%;
}

.container-content >.my-row {
    margin: 20px -10px;
}

.container-content .my-row{
    display: flex;
    flex-wrap: wrap;
}

.container-content .my-row .card{
    margin: 0 10px;
    width: calc((100% / 6) - 20px);
}

.container-content .my-row .card .img-box{
    position: relative;
}

.container-content .my-row .card .img-box img{
    width: 100%;
}

.container-content .my-row .card .img-box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.5);
    
    width: 100%;
    height: 100%;
    display: none;
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px black;
}

.container-content .my-row .card .img-box:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content .my-row .card > * {
    text-align: center;
}

.artists > * {
    border-radius: 50%;
}


/*
    FOOTER
*/
footer {
    height: 100px;
    width: 100%;

    position: fixed;
    bottom: 0;
    right: 0;
}


/*
    DEBUG
*/



#wrapper {
    background-color:coral;
}

aside {
    background-color: navy;
}


main {
    background-color: crimson;
}

/* header {
    background-color: darkslategray;
} */

#content {
    background-color: darkorchid;
}

.container-content{
    background-color: goldenrod;
}

.card{
    background-color: aqua;
}

footer {
    background-color: lightseagreen;
}



